---
import Layout from "../layouts/Layout.astro";
import ProduktCard from "../components/ProduktCard.astro";

const data = await fetch(
  "https://zujkzdvqsjwasmtxzqmu.supabase.co/rest/v1/vahlWood_products?category=eq.objekter",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1amt6ZHZxc2p3YXNtdHh6cW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4MjI2NTQsImV4cCI6MjAxNjM5ODY1NH0.LklCBuoxUZNfpFfLHuGfS1CJjrEaddQz3BTAe5EcyNg",
    },
  }
).then((res) => res.json());
console.log(data);
---

<Layout>
    <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
    <section class="kategori">
      {
        data.map((shop) => {
          return <ProduktCard data={shop}/>;
        })
      }
  
    </section>
    <!-- slot slut -->

</Layout>
       
<style>
    .kategori {
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
 
   /* større skærme */
   @media screen and (min-width: 600px) {
     .kategori {
       display: grid;
       grid-template-columns: 1fr 1fr; */
       align-items: center;
     text-align: center; /* se denne igen */
     }
   }
 </style>


          