---
import Layout from "../layouts/Layout.astro";
import Listview from "../components/Listview.astro";

const data = await fetch(
  "https://zujkzdvqsjwasmtxzqmu.supabase.co/rest/v1/vahlWood_products?select=*",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1amt6ZHZxc2p3YXNtdHh6cW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4MjI2NTQsImV4cCI6MjAxNjM5ODY1NH0.LklCBuoxUZNfpFfLHuGfS1CJjrEaddQz3BTAe5EcyNg",
    },
  }
).then((res) => res.json());
console.log(data);
---

<Layout>
  <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
  <div class="top">
    <h1>KATALOG</h1>
    <h2>
      Velkommen til vores verden af enestående snedkerkunst, hvor hvert produkt
      bærer sjælen af nøje udvalgte materialer og dygtigt håndværk. Skab dit
      personlige rum med vores unikke trædesign, hvor funktionalitet møder
      skønhed. Oplev den tidløse elegance, der kun kan opstå fra års erfaring og
      dedikation til at skabe varige mesterværker.
    </h2>
  </div>

  <section class="katalog">
    {
      data.map((moebler) => {
        return <Listview data={moebler} />;
      })
    }
  </section>

  <!-- slot slut -->
</Layout>

<style>
  .katalog {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*margin-top: 5rem;*/
    text-align: center;
  }

  .top {
    display: inline-block;
    text-align: left;
    margin-left: 2rem;
    /*padding: 25px;*/
    margin-top: 6rem;
  }

  H1 {
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 27px;

  }
  h2 {
    font-size: 18px;
    max-width: 80%;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .katalog {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /*align-items: center;*/
      /*text-align: center; /* se denne igen */
    }

    h2, h1 {
      /*margin: 20px;*/
    }
  }
</style>
