<header>
    <picture>
        <source media="(max-width: 600px)" srcset="images/kontaktmobil.webp" />
        <source media="(min-width: 601px)" srcset="images/contactban.webp" />

        <img src="images/contactban.webp" alt="kontakt" />
    </picture>

</header>


<!--<div>
    <img src="/images/contactban.webp" alt="">
</div>-->

<style>
    img{
width: 100%;
height: auto;
margin-top: 0rem;
    }

      /* større skærme */
  @media screen and (min-width: 600px) {
    img{
width: 100%;
height: auto;
margin-top: 0rem;

    }
  }

</style>


