<div>
    <img src="/images/contactban.webp" alt="">
</div>

<style>
    img{
width: 600px;
height: auto;
margin-top: 2rem;
    }

      /* større skærme */
  @media screen and (min-width: 600px) {
    img{
width: 100%;
height: auto;
    }
  }

</style>


