<section id="first-section">
  <article>
    <h2>INFO</h2>
    <p>Søg</p>
    <p>Handelsbetingelser</p>
    <p>Fragt & Levering</p>
  </article>

  <article>
    <h2>KONTAKT</h2>
    <h3>VAHL WOOD</h3>
    <p>3480 Hillerød</p>
    <p>Danmark</p>
    <p>E-mail: Info@vahlwood.com</p>
    <p>Telefonnr. +45 60 14 80 49</p>
    <p>CVR / VAT number: 43342533</p>
  </article>
</section>

<section id="second-section">
    <article>
    <h2>NYHEDSBREV</h2>
    <p>
      Hvis du ikke vil gå glip af de nyeste produkter og tilbud, så tilmeld dig
      nyhedsbrevet.
    </p>
    <label for="email">Indtast din e-mail adresse</label>
    <input type="email" id="email" name="email" />
    <p class="knap">TILMELD</p>

</article>
</section>

<style>
  #first-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 5rem;
  }

  #second-section {
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  h3{
    font-weight: 300;
  }

  .knap{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 10rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    #first-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    #second-section {
    margin-bottom: 10rem;
  }

  .knap:hover {
    transform: scale(1.1);
    /*transition: 1s;*/
  }
  }
</style>
