<section id="second-section">
  <article>
  <h2>NYHEDSBREV</h2>
  <p>
    Hvis du ikke vil gå glip af de nyeste produkter og tilbud, så tilmeld dig
    nyhedsbrevet.
  </p>

  <!--
  <label for="email">Indtast din e-mail adresse</label>
  <input type="email" id="email" name="email" /> -->

  <form action="">
  <label for="fname"></label>
  <input type="text" name="email" placeholder="Indtast din e-mail"/>
</form>

  <p class="knap">TILMELD</p>

</article>
</section>



<section id="first-section">
  <article>
    <h2>INFO</h2>
    <p>Søg</p>
    <p>Handelsbetingelser</p>
    <p>Fragt & Levering</p>
    <a href="https://www.facebook.com/profile.php?id=100087733412713" class="s"> <img src="/facebook.svg" alt="Facebook" class="icon"> </a>
    <a href="https://www.instagram.com/vahlwood/" class="s"> <img src="/instagram.svg" alt="Instagram" class="icon"> </a>
  </article>

  <article>
    <h2>KONTAKT</h2>
    <h3>Vahl Wood</h3>
    <p>3480 Hillerød</p>
    <p>Danmark</p>
    <p>E-mail: Info@vahlwood.com</p>
    <p>Telefonnr. +45 60 14 80 49</p>
    <p>CVR / VAT number: 43342533</p>
  </article>
</section>



<style>

input[type=text], select, textarea {
      padding: 15px;
      width: 80%;
      box-sizing: border-box;
      margin-top: 1rem;
      margin-bottom: 1rem;
      /*margin-bottom: 16px;*/
      resize: vertical;
      /*border-radius: 15px;*/
      border-radius: 5px;

    }
  
    #first-section a img{
      margin-top: 15px;

    }

    #first-section a:hover{
      opacity: 80%;
    }
  
    #first-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 5rem;
    padding: 25px;
    border-top: 1px solid #000;;
  }

  #second-section {
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 25px;
  }

  h2{
    letter-spacing: 7px;
    margin-bottom: 2rem;

  }
  h3{
    font-weight: 400;
  }

  .knap{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 13rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  '
  



  /* større skærme */
  @media screen and (min-width: 600px) {
    #first-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /*align-items: center;*/
    }

    #second-section {
    margin-bottom: 10rem;
  }

  .knap:hover {
    /*transform: scale(1.1);*/
    /*background-color: #DAD3C1;*/
    /*color: black;*/
    /*transition: 1s;*/
    opacity: 70%;

  }
  }
</style>
