<section class="topSection">
  <h2>HVAD DRØMMER DU OM?</h2>
  <p>
    Hvis du har spørgsmål eller er i tvivl om noget, er du velkommen til at kontakte mig. Du kan ringe på telefonnummeret +45 60 14 80 49, eller du kan udfylde kontaktformularen nedenfor. Jeg vil bestræbe mig på at vende tilbage til dig så hurtigt som muligt. Uanset om det drejer sig om specifikke varer, specialløsninger til dit hjem eller noget helt andet, er jeg altid klar til at hjælpe.
  </p>
</section>

<form action="contact">
  <label for="fname">Navn</label>
  <input type="text" name="name" placeholder=""/>
  

  <label for="fname">Email</label>
  <input type="text" name="email" placeholder=""/>

  <label>Telefon nummer</label>
  <input type="text" name="phonenr" placeholder=""/>

  <label for="besked">Besked</label>
  <textarea name="" id="subject" cols="30" rows="10" placeholder=""></textarea>
  
</form>

<a href="/contact"><p class="knap">SEND</p></a>


<style>

  form{
    display: grid;
    padding: 25px;
    margin-top: -2rem;
  }

  .send{
    width: 30%;
    text-align: center;
  }

  input[type=text], select, textarea {
      padding: 12px;
      box-sizing: border-box;
      margin-bottom: 16px;
      resize: vertical;
      border-radius: 5px;
    }

  .topSection {
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: 25px;
  }

  .knap{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    margin-left: 2rem;
    margin-top: -1rem;
  }

  p{
    text-align: left;
    margin-top: 2rem;
  }

  h2{
    text-align: left;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 27px;

  }
  /* større skærme */
  @media screen and (min-width: 600px) {
    .topSection {
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;
    }
    .knap:hover {
    opacity: 70%;

  }

  .send{
    width: 15%;
    text-align: center;
  }

  p{
    max-width: 65%;
  }
  }
</style>
