<section class="topSection">
  <h2>HVAD DRØMMER DU OM?</h2>
  <p>
    Er du i tvivl om noget, så skriv eller ring endelig til mig. Jeg står altid
    klar til at hjælpe dig, hvad end du har spørgsmål til en specifik vare eller
    en special løsning til dit hjem, som du ønsker hjælp til eller noget helt
    tredje.
  </p>
</section>

<form action="contact">
  <label for="fname">Navn</label>
  <input type="text" name="name" placeholder=""/>
  

  <label for="fname">Email</label>
  <input type="text" name="email" placeholder=""/>

  <label>Telefon nummer</label>
  <input type="text" name="phonenr" placeholder=""/>

  <label for="besked">Besked</label>
  <textarea name="" id="subject" cols="30" rows="10" placeholder=""></textarea>
  

  <input class="send" type="text" value="Send">
</form>

<a href="/contact"><p class="knap">SEND</p></a>


<style>

  form{
    display: grid;
    padding: 25px;
  }

  .send{
    width: 30%;
    text-align: center;
  }

  input[type=text], select, textarea {
      padding: 12px;
      box-sizing: border-box;
      margin-bottom: 16px;
      resize: vertical;
      border-radius: 5px;
    }

  .topSection {
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding: 25px;
  }

  .knap{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 15rem;
    /*margin-top: 2rem;*/
    text-align: center;
    margin-left: 2rem;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .topSection {
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;
    }
    .knap:hover {
    /*transform: scale(1.1);*/
    /*background-color: #DAD3C1;*/
    /*color: black;*/
    /*transition: 1s;*/
    opacity: 70%;

  }

  .send{
    width: 15%;
    text-align: center;
  }
  }
</style>
