---
const { data } = Astro.props;
console.log(data);

---

<article>
    <h2>radiatorskjuler</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dignissimos dolores cum quasi, est modi numquam doloremque adipisci suscipit culpa, veritatis molestiae quidem sunt laudantium saepe ipsam obcaecati voluptas ullam?</p>
    <p>spørg for pris</p>
</article>