<div class="menu-bar">
<button class="hamburger">
  <div class="bar"></div>
</button>

<nav class="open-menu">
  <div>
    <a href="/">Forside</a>
    <a href="/shop">Shop</a>
    <a href="/contact">Kontakt</a>
    <a href="/about">Om mig</a>
</div>
</nav>

<img class="logo-icon" src="/Logo-icon.png" alt="logo" />

<img class="kurv-icon" src="/kurv-icon.png" alt="logo" />
</div>





<style>
.menu-bar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 1em;
}

.logo-icon{
  width: 47%;
}

.kurv-icon{
  width: 5%;
  margin-right: 1em;
}
  .hamburger{
    position: relative;
    display: block;
    width: 40px; /* bredden på stregerne  */
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 90%; /* breden på stregerne */
    height: 3px; /* tykkelsen på stregerne */
    background-color: #000000; /* farven på stregerne */
    margin: 5px -10px; /* den første afgør margin top og nr 2 afgør margin left */
    transition: 0.4s;
    margin-left: 1em;
  }
  .hamburger.is-active:before {
    transform: rotate(-50deg) translate(-8px, 4px);
    position: relative;
    z-index: 100;
  }

  .hamburger.is-active:after {
    transform: rotate(50deg) translate(-8px, -5px);
    position: relative;
    z-index: 100;
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .open-menu {
    position: fixed;
    top: 0; /* vigtig */
    right: 100%; /* hvor meget af skærmen den fylder. jo mindre procent jo mere kan den ses på skærmen */
    width: 100%; /* hvor meget boksen fylder */
    min-height: 100vh; /* hvis man fjerner denne, så fylder den ikke hele skærmen */
    display: block; 
    z-index: 98;
    background-color: white;
    padding-top: 8rem; /* tesktens placering ift toppen */
    transition: 0.4s;
    display: flex;
    justify-content: space-evenly;
  }

  .open-menu.is-active {
    right: 0%;
  }

  .open-menu a {
    display: block;
    color: #000000;
    font-family: 'inter';
    font-weight: 200;
    font-size: x-large;
    text-decoration: none;
    text-align: start;
  }

  .open-menu a {
    transition: transform 0.2 ease;
  }

  .open-menu a:hover {
    transform: scale(1.1);
  }






@media screen and (min-width: 599px) {
  .logo-icon{
    width: 27%;
  }

  .kurv-icon{
    width: 4%;
    margin-right: 1em;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
  width: 100%;
  margin-left: 1em;
}

.open-menu.is-active{
  right: 70%;
}

.open-menu{
  width: 30%;
}
}








@media screen and (min-width: 999px) {
  .logo-icon{
    width: 14%;
  }

  .kurv-icon{
    width: 2%;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
  width: 100%;
  margin-left: 2em;
}

.open-menu a{
  text-align: start;

}
}
</style>


<script>
  const menu_btn = document.querySelector(".hamburger");
  const open_menu = document.querySelector(".open-menu");

  menu_btn.addEventListener("click", function () {
    menu_btn.classList.toggle("is-active");
    open_menu.classList.toggle("is-active");
  });
</script>