<nav class="menu">
    <ul>
      <li><a href="/">Forside</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/contact">Kontakt</a></li>
      <li><a href="/about">Om mig</a></li>


    </ul>
  </nav>