<section id="about">
  <article class="col1">
    <h2>OM MIG</h2>
    <p>
      Jeg hedder Christian og er 31 år gammel. Jeg har en passion for at skabe møbler og løsninger, der bringer glæde til mine kunder. Jeg tror på at realisere det tilsyneladende umulige gennem min tilgang til problemløsning. Jeg vil gerne bruge mit håndværk til at åbne op for mulighederne og skubbe grænserne, for hvad vi tør at drømme om, når vi indretter nye løsninger og møbler i vores hjem - lige nu er det min drøm. 
    </p>
    <p class="tag">Drøm stort, skab unikt. Lad os forme dine drømme i træ.</p>
    <a href="/contact"><p class="knap">KONTAKT</p></a>

  </article>
  <article class="image">
    <img src="/images/ommig_portrætcopy.webp" alt="" />
  </article>
</section>

<style>
  #about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 2rem;
    
  }

  .col1{
    margin-top: 3rem;
  }
  img {
    width: 450px;
    height: auto;
  }

  .image{
    margin-top: 2rem;
  }
  p{
    font-size: 16px;
    max-width: 80%;
  }

  .tag{
    margin-top: 2rem;
    font-style: italic;
  }

  h2{
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 4px;

  }

  .knap{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 13rem;
    margin-top: 2rem;
    text-align: center;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    #about {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .image {
      text-align: center;
    }

    img{
      margin-top: 0rem;
    }

    .knap:hover {
    opacity: 70%;

  }
  }
</style>
