<div class="VAHLWOOD">
  <h1 class="top">VAHL WOOD</h1>
  <p class="info">
    Vahl Wood er et snedker firma med beliggenhed i Nordsjælland. Firmaet blev
    etablet i 2020 af Christian vahl. Med sin brede viden og smukke håndværk af
    allerhøjeste kvalitet hjælper han dig til dine drømmemøbler og unikke
    løsninger.
  </p>
  <p class="welcome">Velkommen hos Vahl Wood.</p>
</div>

<div class="sectionerne">
  <section>
    <img src="/images/kvadrat8.webp" alt="træbaggrund" />
    <div class="rådgiving-box">
      <h1 class="sort">Rådgivning</h1>
      <p class="text-p1">
        Vahl Wood tilbyder rådgivning og specialdesignede løsnigner til dig -
        hvad drømmer om du om?
      </p>

      <div class="læsMere">
        <a href="/contact">Læs mere</a>
      </div>
    </div>
  </section>

  <section>
    <img src="/images/kvadrat7.webp" alt="indehaver af vahl wood" />
    <div class="OmVahlWood-box">
      <h1>Om VAHL WOOD</h1>
      <p class="text-p2">
        Med min viden vil jeg gerne bruge mit håndværk til at åbne op for flere
        muligheder og skubbe grænserne.
      </p>

      <div class="læsMere">
        <a href="/about">Læs mere</a>
      </div>
    </div>
  </section>
</div>

<style>
  .VAHLWOOD {
    display: grid;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 25px;
    
  }

  .top, .info, .welcome{
    text-align: left;
  }

  .welcome{
    margin-top: 2rem;
  }
  .sectionerne {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* evt juster denne */
    gap: 2rem;
    text-align: center;
 
  }

  section {
    position: relative;
    margin: 2rem;
  }

  .læsMere{
    margin-top: 2rem;
    font-family: 'inter';
    text-transform: uppercase;
    text-align: left;
  }

  .rådgiving-box,
  .OmVahlWood-box {
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px;
    text-align: start;
    top: 3.5em; 
  }

  img {
    width: 100%;
    height: auto;
  }

  .top{
    text-align: center;
    font-weight: 200;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }

  .text-p1, .text-p2 {
    margin-bottom: 1em;
    font-weight: 300;
    margin-top: 1rem;
    text-align: left;
  }

  .text-p1, .sort{
    color: black;
  }

  h1{
    font-weight: 400;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;

  }

  @media screen and (min-width: 600px) {
    .VAHLWOOD {
      text-align: center;
      margin-left: 9rem;
      margin-top: 5rem;
    }

    .sectionerne {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .læsMere:hover {
    opacity: 70%;
  }

    .top, .info, .welcome{
    text-align: center;
    max-width: 80%;
    }

    a{
    padding: 1rem;
    width: 10rem;
    text-align: center;
    display: inline-block;
  }
  .rådgiving-box,
  .OmVahlWood-box {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px;
    text-align: start;
    top: 5em; /* se på denne igen */
  }

  img {
    width: 350px;
    height: auto;
  }
  }
  @media screen and (min-width: 850px) {
    .rådgiving-box,
    .OmVahlWood-box {
    padding: 10px;
    margin-top: -1rem;
    margin-left: 1rem;
    }

    img {
    width: 100%;
    height: auto;
  }
  .text-p{
    max-width: 75%;
    font-size: 16px;
  }
  }

  @media screen and (min-width: 1000px) {
    .rådgiving-box,
    .OmVahlWood-box {
    padding: 10px;
    margin-top: 4rem;
    margin-left: 1rem;
    }

    img {
    width: 100%;
    height: auto;
  }
  .text-p{
    max-width: 75%;
    font-size: 16px;
  }
  }
</style>


