<div class="VAHLWOOD">
  <h1>VAHL WOOD</h1>
  <p>
    Vahl Wood er et snedker firma med beliggenhed i Nordsjælland. Firmaet blev
    etablet i 2020 af Christian vahl. Med sin brede viden og smukke håndværk af
    allerhøjeste kvalitet hjælper han dig til dine drømmemøbler og unikke
    løsninger.
  </p>
  <p class="welcome">Velkommen hos Vahl Wood.</p>
</div>

<div class="sectionerne">
  <section>
    <img src="/images//blaa.jpg" alt="" />
    <div class="rådgiving-box">
      <h1>Rådgivning</h1>
      <p class="text-p">
        Vahl Wood tilbyder rådgivning og specialdesignede løsnigner til dig -
        hvad drømmer om du om?
      </p>

      <div class="læsMere">
        <a href="/contact">Læs mere</a>
      </div>
    </div>
  </section>

  <section>
    <img src="/images//blaa.jpg" alt="" />
    <div class="OmVahlWood-box">
      <h1>Om VAHL WOOD</h1>
      <p class="text-p">
        Med min viden vil jeg gerne bruge mit håndværk til at åbne op for flere
        muligheder og skubbe grænserne.
      </p>

      <div class="læsMere">
        <a href="/about">Læs mere</a>
      </div>
    </div>
  </section>
</div>

<style>
  .VAHLWOOD {
    /* padding: 66px;*/
    display: grid;
    /*gap: 15px;*/
    margin-bottom: 3rem;
  }

  .welcome{
    margin-top: 2rem;
  }
  .sectionerne {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    /*
    display: flex;
    gap: 25px;
    */
  }

  section {
    position: relative;
  }

  .rådgiving-box,
  .OmVahlWood-box {
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 37px;
  }

  img {
    width: 100%;
  }

  .text-p {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
  }

  @media screen and (min-width: 600px) {
    .VAHLWOOD {
      text-align: center;
    }

    .sectionerne {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
</style>
