<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/forside_video.mp4" type="video/mp4" />
  </video>
</div>

<style>
  video {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .video-container {
    display: block;
    margin-bottom: 3rem;
    max-width: 100%;
  }

  @media screen and (min-width: 1000px) {
    .video-container {
      max-width: none;
    }
  }
</style>
