<!--<div class="video-container">
  <video class="ommigVideo" src="/images/Vahlwood_Youtube.mp4" controls></video>
</div>-->

<!--<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/Vahlwood_Youtube.mp4" type="video/mp4" />
  </video>
</div>-->

<video class="video-container" controls>
  <source src="/images/Vahlwood_YouTube.mp4" type="video/mp4">
</video> 

<!--<video src="/images/Vahlwood_YouTube.mp4"></video>-->

<style>
  video {
    margin-top: 5rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .video-container {
    display: block;
    text-align: center;
  }
</style>
