<div class="video-container">
    <video autoplay loop muted>
        <source src="/images/langvideo_forside-kopi.mp4" type="video/mp4"/>
      </video>
    </div>
    
    <style>
      video{
        position: relative;
        margin-top: 1em;
        object-fit: cover;
        object-position: center;
        width: 100%;
        /*border-radius: 25px;*/
      }
    
      .video-container{
        text-align: center;
        margin-bottom: 3rem;
      }
    </style>