
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width:90vw;
    max-width: 1000px;
    margin-inline: auto;
}

h1, h2, h3, p, nav, footer, label, div, a{
    font-family: 'inter';
    font-weight: 200;
}