
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    /*width:90vw;*/
    max-width: 1000px;
    margin-inline: auto;
}

h1, h2, h3, p, nav, footer, label, div, a{
    font-family: 'inter';
    font-weight: 200;
    line-height: 1.5;
    text-decoration: none;
}


 /* større skærme */
 @media screen and (min-width: 600px) {

.kategori a:nth-child(even) .grid .col2 {
    grid-column: 1;
    grid-row: 1; 
    }


}

/*article .tekst{
        position: sticky;
        top: 0;
      }*/
